.root-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.monitor{
    background-color: rgb(62, 90, 90);
}

.key{
    border-radius: 6px;
    height: 44px;
    width: 44px;
    padding: 8px;
    background-color: rgb(33, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    text-align: center;
    margin-bottom: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/** Keyboard div **/

.keyboard-body{
    padding: 44px 44px 0px;
    background-color: #fddbc9;
    color: #dddddd;
    border-radius: 30px;
}

/** Keypad-div **/

.keypad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: auto;
    width: auto;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(49, 45, 45, 0.8);
    border-radius: 12px;
} 

/** line1 **/


.function-key{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    width: 48px;
    height: 22px;
}

.esc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

.blank{
    width: 22px;
}

/** line2 **/

.key-row{
    display: flex;
    text-align: center;
    font-size: 15px;
    gap: 6px;
    align-items: flex-end;
}

.function-keys{
    display: flex;
    font-size: 8px;
    text-align: center;
}


.delete{
    width: 75px;
}

.tab{
    width: 75px;
}

.caps-lock-width{
    width: 93px;
}

.shift{
    width: 126px;
}

.space{
    width: 307px;
}

.touch-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

}
.touch-pad{
    margin-top: 8px;
    display: flex;
    border: 2px solid rgb(184, 163, 148);
    width: 436px;
    height: 256px;
    border-radius: 12px;
}

.cut-out{
    height: 8px;
    width: 156px;
    background-color: rgb(244, 229, 229);
    box-shadow: inset 0 0 10px rgba(49, 45, 45, 0.8);

    margin-bottom: 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    
}

.command-key{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.rotate-180{
    rotate: 180deg;
}

.left{
    justify-content: flex-start;
    flex-direction: row;
}

.letters{
    display: flex;
    align-items: center;
    justify-content: center;
}

.command{
    width: 60px;
}

.nav-key{
    height: 22px;
    padding: 4px 8px;
}

.center-nav {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.caps-lock{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.dot {
    border: 2px solid #ddd;
    border-radius: 2px;
}

.command-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.command-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.screen {
    background-image: url('wallpaper.jpg');
    height: 670px;
    width: 998px;
    background-size: cover;
}

.monitor{
    background-color: black;
    padding: 30px;
    border-radius: 30px;
}